body {
    background: #ccc5d1;
    background-image: url("../images/SpartaGlobalOpacityLow.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
